<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django_blog</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>

<div class="container-fluid">
 <div class="row">
     <div class="col-md-10" style="background-color: #D3D3D3"> <h2><a href="/"><small> Blog_Django </small></a></h2></div>
     <!--<div class="col-md-1" style="background-color: #D3D3D3"> <h2><a href="/"><small> About </small></a></h2> </div>-->
     {% if username %}
     <div class="col-md-2" style="background-color: #D3D3D3"> <h2><a href="/auth/logout/"><small> Log-out ({{ username }}) </small></a></h2> </div>
     {% else %}
     <div class="col-md-2" style="background-color: #D3D3D3"> <h2><a href="/auth/login/"><small> Log-in </small></a></h2> </div>
     {% endif %}
 </div>
</div>


<div class="container">
{% block post %} {% endblock %}
</div>
<div class="container">
{% block login %} {% endblock %}
</div>
<div class="container">
{% block register %} {% endblock %}
</div>

<!--<div class="container-fluid">-->
 <!--<div class="row">-->
  <!--<div class="text-right" class="col-md-12" style="background-color: #DCDCDC">-->
      <!--<small>All rights reserved  </small>-->
  <!--</div>-->
     <!--</div>-->
    <!--</div>-->
</body>
</html>