{% extends 'main.html' %}
{% block post %}

<br><br>
<mark>Date: <small>{{ post.post_data }}</mark> </small>
<h4> {{ post.post_title }} </h4>
<p class="text-justify"> {{ post.post_text }} </p>
<hr>
<p><h4>Comments:</h4></p>
{% for comment in comments %}
    <p>{{ comment.comment_text }}</p>
{% endfor %}
<br> <br>
<form action="/posts/addcomment/{{ post.id }}/" method="post">
    {% csrf_token %}
    {{ form }}
    <p><input type="submit" class="btn btn-primary" value="Add comment"></p>
</form>
{% endblock %}