{% extends 'main.html' %}
{% block post %}

<br><br>
<mark>Date: <small>{{ post.post_data }}</mark> </small>
<h4> {{ post.post_title }} </h4>
<p class="text-justify"> {{ post.post_text }} </p>
<br>
{% if post.post_img %}
<img src="{{MEDIA_URL}}{{post.post_img.url}}" height="250" width="250">

{% endif %}

<hr>
<p><h4>Comments:</h4></p>
{% for comment in comments %}
    <p>{{ comment.comment_text }}</p>
{% endfor %}
<br> <br>
<strong>Add your comment here:</strong>
{% if username %}
<br><br>
<form action="/posts/addcomment/{{ post.id }}/" method="post">
    {% csrf_token %}
    {{ form }}
    <p><input type="submit" class="btn btn-primary btn-sm" value="Add comment"></p>
</form>
{% else %}
<br><br>
<small><p>You can't write comment, you should login or register</p></small>
{% endif %}
{% endblock %}