{% extends 'main.html' %}
{% load staticfiles %}

{% block login %}
 <div class="login_form">
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <label for="username">Username</label> <br>
        <input type="text" name="username" id="username" size="39">
        <br>
        <label for="password">Password</label> <br>
        <input type="password" name="password" id="password" size="39"> <br><br>
        {% if login_error %}
            <div class="login_error"> {{ login_error }} </div>
        {% endif %}
        <button type="submit" class="btn btn-success btn-sm btn-block">Sign in</button>
    </form>
 </div>
<div class="form_notification">
    <p>New to our blog? <a href="{% url 'register' %}">Create an account</a></p>
</div>

<div class="login_notification">
    <small>By clicking "Sign in", you agree to our terms of service and privacy policy</small>
</div>
{% endblock %}