{% extends 'main.html' %}
{% load staticfiles %}

{% block profile %}
<div class="profile_info">
    {% if profile.photo %}
       <img src="{{MEDIA_URL}}{{profile.photo.url}}" height="250" width="250">
    {% else %}
        <img src="/static/no_photo.jpg" height="250" width="250">
     {% endif %}
    <br><br>
    <p><b>Username: </b>{{ user.username }} </p>
    <p><b>Total posts: </b> {{ user_post_counter }} </p>
    <p><b>Age: </b>{{ profile.age }} </p>
    <p><b>From: </b>{{ profile.country }} </p>
    <p><b>Phone number: </b>{{ profile.phone }} </p>
    <p><b>Email address: </b>{{ profile.email }} </p>
    <a href="{% url 'edit_profile' user_id %}" class="btn btn-info active" role="button" >Edit profile</a>
    <a href="{% url 'delete_profile' user_id %}" class="btn btn-danger active" role="button" >Delete profile</a>
    <br>
</div>

<div class="profile_buttons">
    <a href="{% url 'user_posts' user_id %}" class="btn btn-default active" role="button"><b>Users posts</b></a>
    <a href="{% url 'user_comments' user_id %}" class="btn btn-default active" role="button"><b>Users comments</b></a>
</div>
{% endblock %}